name: "Test"
on:
  pull_request:
  push:

jobs:
  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        nix-install-url:
          - https://nixos.org/nix/install
          - https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20201221_9fab14a/install
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v13
      with:
        install_url: ${{ matrix.nix-install-url }}
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/nixpkgs-unstable.tar.gz
        extra_nix_config: |
          keep-outputs = true
          keep-derivations = true
          experimental-features = nix-command flakes
    - run:
        nix-shell -I nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixpkgs-unstable.tar.gz ci.nix --run 'true'
